FORMAT: 1A
HOST: http://api.sample.com.br/v1

# blocoDeNotas

Desenvolver uma simples lista de tarefas

# Group API

## Sobre [/]

Aqui podemos descrever detalhes que são comuns a todos os serviços
como formatos, headers, tipos de erros, etc

# Group Mensagem

## assignment [/assignment]

### Create a new assignment [POST]

+ Relation: post

+ Request Criar um assignment

    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes
    
        + name (string) - the assignment 
        + description (string) - A description of assignment
        + date(number) - time the 'assignment'
        + conclude(boolean) - conclui the 'assignment'
        + cancel(boolean)  - cancel of 'assignment'      

+ Response 201 (application/json)
    + Attributes (Created)

+ Response 404 (application/json)
+ Attributes (Error)

### List all assignments [GET]
+ Relation: self
+ Response 200 (application/json)

    + Body

                    { 
                        "id": "1"
                        "name": "João da Silva",
                        "username":"jonesalves12",
                        "e-mail": "jone.alves@gmail.com",
                            [
                                {
                                    "id": "1",
                                    "name":"Wake up at 6 am",
                                    "description":"Get up on time to perform my routine",
                                    "date":"2014-11-11T08:40:51.620Z"
                                    "conlude": "true",
                                    "cancel": "false",
                                },{
                                    "id": "2",
                                    "name":"eat breakfast at 7:30 am",
                                    "description":"Digest a hearty breakfast to start an excellent day",
                                    "date":"2014-11-11T012:40:51.620Z"
                                    "conlude": "true",
                                    "cancel": "false",
                                },{
                                    "id": "3",
                                    "name":"start studies",
                                    "description":"I start my first battery of studies",
                                    "date":"2014-11-11T016:40:51.620Z"
                                    "conlude": "false",
                                    "cancel": "true",
                                }
                            ]
                    }  
        
+ Response 404 (application/json)
    + Attributes (Error)


## assignment [/assignment/{id_assignment}]

+ Parameters
    + id_assignment: 1 (number, required) - ID da assignment

### View a assignments Detail [GET]
+ Relation: self
+ Response 200 (application/json)

                    { 
                        "id": "1"
                        "name": "João da Silva",
                        "username":"jonesalves12",
                        "e-mail": "jone.alves@gmail.com",
                            [
                                {
                                    "id": "1",
                                    "name":"Wake up at 6 am",
                                    "description":"Get up on time to perform my routine",
                                    "date":"2014-11-11T08:40:51.620Z"
                                    "conlude": "true",
                                    "cancel": "false",
                                }
                            ]
                    }


### Alter assignment [PUT]
+ Relation: update
+ Request Change one assignment
    + Headers

            Accept: application/json
            Content-Type: application/json
    + Attributes 
        
        + name (string)
        + description (string)
        + date(number) 
        + conclude(boolean)
        + cancel(boolean)  

+ Response 200 (application/json)
    + Attributes (Created)

+ Response 400 (application/json)
    + Attributes (Error)


### Excluir assignment [DELETE]
+ Relation: DELETE
+ Response 204 (application/json)
    + Attributes (Id)

+ Response 404 (application/json)
    + Attributes (Error)

# Data Structures

## assignment (object)
+ subject (string) - Assunto da assignment
+ body (string) - Corpo da assignment

## assignmentUpdate (assignment)
+ id_assignment (number) - Id da assignment

## Created (object)
+ id (number) - Id gerado

## Id (object)
+ id (number) - Id a ser processado

## Error (object)
+ code: 400 (number) - Status code
+ message (string) - Mensagem do status
+ description (string) - Descrição do status


## Multi (object)
+ id (number) - Código da entidade
+ code: 200 (number) - Status code
+ message (string) - Descrição do status


## User (object)
+ id (number) - Código do usuário
+ name (string) - Nome do usuário
+ token (string) - Token do usuário conectado